#########################
## MaxScale configuration
#########################

[maxscale]
threads                 = auto
log_augmentation        = 1
ms_timestamp            = 1
syslog                  = 1


########################
## Server list
########################

[server1]
type=server
address=mariadb-master
port=3306
protocol=MariaDBBackend

[server2]
type=server
address=mariadb-slave
port=3306
protocol=MariaDBBackend

#########################
# Monitor for the servers
#########################

[monitor]
type                    = monitor
module                  = mariadbmon
servers                 = server1,server2
user                    = maxscale
password                = maxscale
auto_failover           = true
auto_rejoin             = true
